.fa-bars {
  cursor: pointer;
}

.nav-item {
  .nav-link {
    cursor: pointer;
  }
}

.wrapper.overflow {
  overflow: hidden;
}

:host {
  display: block;
}

:host .sidebar-right-toggle > a {
  color: #fff;
}

:host.sidebar-mini.sidebar-collapse .treeview-menu.collapsing {
  height: auto !important;
}

:host .sidebar-right-toggle > a:hover {
  background: rgba(0, 0, 0, 0.1);
}

:host.skin-black .sidebar-right-toggle > a,
:host.skin-black-light .sidebar-right-toggle > a {
  color: #333;
  border-right-width: 0;
}

:host.skin-black .sidebar-right-toggle > a:hover,
:host.skin-black-light .sidebar-right-toggle > a:hover {
  background-color: #fff;
  color: #999;
}

:host.skin-black .sidebar-right-toggle > a {
  border-left: 1px solid #eee;
}

:host.skin-black-light .sidebar-right-toggle > a {
  border-left: 1px solid #d2d6de;
}

.navbar-border {
  border-bottom: 0;
}

.navbar-small-text {
  font-size: 14px;
}