<li class="nav-item">
    <a id="toggle" class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"
        (click)="toggleRightSidebarClick()">
        <i class="fas fa-th-large"></i>
    </a>
    <div #dropdownMenu>
        <aside [ngClass]="(this.shown) ? 'sidebar-show-bx' : 'sidebar-hide-bx'"
            class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3 control-sidebar-content" style="background: #343a40;">
                <h5>Customize AdminLTE</h5>
                <hr class="mb-2">
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isnavbarBorder" (change)="navbarBorder()">
                    <span>No Navbar border</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isBodySmallText" (change)="bodySmallText()">
                    <span>Body small text</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isNavbarSmallText" (change)="navbarSmallText()">
                    <span>Navbar small text</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isSidebarNavSmallText" (change)="sidebarNavSmallText()">
                    <span>Sidebar nav small text</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isFooterSmallText" (change)="footerSmallText()">
                    <span>Footer small text</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isSidebarNavFlat" (change)="sidebarNavFlat()">
                    <span>Sidebar nav flat style</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isSidebarNavLegacy" (change)="sidebarNavLegacy()">
                    <span>Sidebar nav legacy style</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isSidebarNavCompact" (change)="sidebarNavCompact()">
                    <span>Sidebar nav compact</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isSidebarNavChildIndent" (change)="sidebarNavChildIndent()">
                    <span>Sidebar nav child indent</span>
                </div>
                <div class="mb-1">
                    <input type="checkbox" class="mr-1" [checked]="isMainSidebarDisable" (change)="mainSidebarDisable()">
                    <span>Main Sidebar disable hover/focus auto expand</span>
                </div>
                <div class="mb-4">
                    <input type="checkbox" class="mr-1" [checked]="isBrandSmallText" (change)="brandSmallText()">
                    <span>Brand small text</span>
                </div>
                <h6>Navbar Variants</h6>
                <div class="d-flex">
                    <div class="d-flex flex-wrap mb-3">
                        <div class="bg-primary elevation-2 colors-bx-display" (click)="bgColor('bg-primary')">
                        </div>
                        <div class="bg-secondary elevation-2 colors-bx-display" (click)="bgColor('bg-secondary')">
                        </div>
                        <div class="bg-info elevation-2 colors-bx-display" (click)="bgColor('bg-info')">
                        </div>
                        <div class="bg-success elevation-2 colors-bx-display" (click)="bgColor('bg-success')">
                        </div>
                        <div class="bg-danger elevation-2 colors-bx-display" (click)="bgColor('bg-danger')">
                        </div>
                        <div class="bg-indigo elevation-2 colors-bx-display" (click)="bgColor('bg-indigo')">
                        </div>
                        <div class="bg-purple elevation-2 colors-bx-display" (click)="bgColor('bg-purple')">
                        </div>
                        <div class="bg-pink elevation-2 colors-bx-display" (click)="bgColor('bg-pink')">
                        </div>
                        <div class="bg-navy elevation-2 colors-bx-display" (click)="bgColor('bg-navy')">
                        </div>
                        <div class="bg-lightblue elevation-2 colors-bx-display" (click)="bgColor('bg-lightblue')">
                        </div>
                        <div class="bg-teal elevation-2 colors-bx-display" (click)="bgColor('bg-teal')">
                        </div>
                        <div class="bg-cyan elevation-2 colors-bx-display" (click)="bgColor('bg-cyan')">
                        </div>
                        <div class="bg-dark elevation-2 colors-bx-display" (click)="bgColor('bg-dark')">
                        </div>
                        <div class="bg-gray-dark elevation-2 colors-bx-display" (click)="bgColor('bg-gray-dark')">
                        </div>
                        <div class="bg-gray elevation-2 colors-bx-display" (click)="bgColor('bg-gray')">
                        </div>
                        <div class="bg-light elevation-2 colors-bx-display" (click)="bgColor('bg-light')">
                        </div>
                        <div class="bg-warning elevation-2 colors-bx-display" (click)="bgColor('bg-warning')">
                        </div>
                        <div class="bg-white elevation-2 colors-bx-display" (click)="bgColor('bg-white')">
                        </div>
                        <div class="bg-orange elevation-2 colors-bx-display" (click)="bgColor('bg-orange')">
                        </div>
                    </div>
                </div>
                <h6>Accent Color Variants</h6>
                <div class="d-flex"></div>
                <div class="d-flex flex-wrap mb-3">
                    <div (click)="accentColor('bg-primary')" class="bg-primary elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-warning')" class="bg-warning elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-info')" class="bg-info elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-danger')" class="bg-danger elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-success')" class="bg-success elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-indigo')" class="bg-indigo elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-lightblue')" class="bg-lightblue elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-navy')" class="bg-navy elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-purple')" class="bg-purple elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-fuchsia')" class="bg-fuchsia elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-pink')" class="bg-pink elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-maroon')" class="bg-maroon elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-orange')" class="bg-orange elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-lime')" class="bg-lime elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-teal')" class="bg-teal elevation-2 colors-bx-display">
                    </div>
                    <div (click)="accentColor('bg-olive')" class="bg-olive elevation-2 colors-bx-display">
                    </div>
                </div>
                <h6>Dark Sidebar Variants</h6>
                <div class="d-flex"></div>
                <div class="d-flex flex-wrap mb-3">
                    <div (click)="darkSideBarBgColor('bg-primary', 'bg-dark')" class="bg-primary elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-warning', 'bg-dark')" class="bg-warning elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-info', 'bg-dark')" class="bg-info elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-danger', 'bg-dark')" class="bg-danger elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-success', 'bg-dark')" class="bg-success elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-indigo', 'bg-dark')" class="bg-indigo elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-lightblue', 'bg-dark')" class="bg-lightblue elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-navy', 'bg-dark')" class="bg-navy elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-purple', 'bg-dark')" class="bg-purple elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-fuchsia', 'bg-dark')" class="bg-fuchsia elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-pink', 'bg-dark')" class="bg-pink elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-maroon', 'bg-dark')" class="bg-maroon elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-orange', 'bg-dark')" class="bg-orange elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-lime', 'bg-dark')" class="bg-lime elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-teal', 'bg-dark')" class="bg-teal elevation-2 colors-bx-display">
                    </div>
                    <div (click)="darkSideBarBgColor('bg-olive', 'bg-dark')" class="bg-olive elevation-2 colors-bx-display">
                    </div>
                </div>
                <h6>Light Sidebar Variants</h6>
                <div class="d-flex"></div>
                <div class="d-flex flex-wrap mb-3">
                    <div (click)="lightSideBarBgColor('bg-primary', 'bg-light')" class="bg-primary elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-warning', 'bg-light')" class="bg-warning elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-info', 'bg-light')" class="bg-info elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-danger', 'bg-light')" class="bg-danger elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-success', 'bg-light')" class="bg-success elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-indigo', 'bg-light')" class="bg-indigo elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-lightblue', 'bg-light')" class="bg-lightblue elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-navy', 'bg-light')" class="bg-navy elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-purple', 'bg-light')" class="bg-purple elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-fuchsia', 'bg-light')" class="bg-fuchsia elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-pink', 'bg-light')" class="bg-pink elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-maroon', 'bg-light')" class="bg-maroon elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-orange', 'bg-light')" class="bg-orange elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-lime', 'bg-light')" class="bg-lime elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-teal', 'bg-light')" class="bg-teal elevation-2 colors-bx-display">
                    </div>
                    <div (click)="lightSideBarBgColor('bg-olive', 'bg-light')" class="bg-olive elevation-2 colors-bx-display">
                    </div>
                </div>
                <h6>Brand Logo Variants</h6>
                <div class="d-flex"></div>
                <div class="d-flex flex-wrap mb-3">
                    <div (click)="logoBgColor('bg-primary')" class="bg-primary elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-secondary')" class="bg-secondary elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-info')" class="bg-info elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-success')" class="bg-success elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-danger')" class="bg-danger elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-indigo')" class="bg-indigo elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-purple')" class="bg-purple elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-pink')" class="bg-pink elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-navy')" class="bg-navy elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-lightblue')" class="bg-lightblue elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-teal')" class="bg-teal elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-cyan')" class="bg-cyan elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-dark')" class="bg-dark elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-gray-dark')" class="bg-gray-dark elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-gray')" class="bg-gray elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-light')" class="bg-light elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-warning')" class="bg-warning elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-white')" class="bg-white elevation-2 colors-bx-display">
                    </div>
                    <div (click)="logoBgColor('bg-orange')" class="bg-orange elevation-2 colors-bx-display">
                    </div>
                    <a class="clear-button" (click)="clearOptions()" >clear</a>
                </div>
            </div>
        </aside>
    </div>
</li>